<footer>
    <div class="content-padding">
        <div class="footer-content">
            <p> <a href="#"><i class="fa fa-empire"></i> </a>
                Copyright:  &copy; Nafis Neehal (nafisneehal.iut@gmail.com)
                <a href="#"><i class="fa fa-rebel"></i> </a>
            </p>

            <div class="social-media-icons">
                <a href="https://www.facebook.com/nafis.neehal"><i class="fa fa-facebook"></i> </a>
                <a href="https://twitter.com/nafis_neehal"><i class="fa fa-twitter"></i> </a> &nbsp; &nbsp;
                <a href="https://bd.linkedin.com/in/nafisneehal"><i class="fa fa-linkedin"></i> </a>
            </div>
        </div>
    </div>
</footer>